@*@model IEnumerable<WEB1001_To_Do_App.ToDoModel>*@

@model ToDoModel

@{
    ViewData["Title"] = "Index";
    var ToDoList = (IEnumerable<ToDoModel>)ViewData["ToDoList"];
}

<h1>Index</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@

<table class="table">
    <thead>
        <tr>
            <th>
                Is Completed
            </th>
            <th>
                Completion Date
            </th>
            <th>
                Description
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ToDoList)
        {
            <tr>
                <td>
                    @*<form asp-action="Edit">
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input asp-for="@item" type="hidden" />
                                <input class="form-check-input" formaction="Edit" asp-for="@item.IsCompleted" /> @Html.DisplayNameFor(modelItem => item.IsCompleted)
                            </label>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                    </form>*@
                    <partial name="Edit" model="@item"/>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompletionDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ToDoModelId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ToDoModelId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ToDoModelId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<partial name="Create" class="ToDoModel"/>